In [61]:
import pandas as pd
import numpy as np
import os as os
from datetime import datetime as dt
import matplotlib.pyplot as plt
from pathlib import Path

In [62]:
hsy_csv = pd.read_csv(Path("Resources/HSY.csv"), infer_datetime_format=True, parse_dates=True)
hsy_csv.set_index(pd.to_datetime(hsy_csv['Date'], yearfirst=True, exact=True), inplace=True)


#convert to returns

#drop columns
hsy_csv = hsy_csv.drop(columns = ["Date"])
hsy_csv

             Close
Date
2001-01-05   28.88
2001-01-12   28.59
2001-01-19   28.63
2001-01-26   29.25
2001-02-02   29.91
...            ...
2019-11-29  148.16
2019-12-06  149.25
2019-12-13  147.15
2019-12-20  147.44
2019-12-27  147.62

[991 rows x 1 columns]

In [69]:
misery_csv = pd.read_csv(Path("Resources/USMISERY-INDEX.csv"), infer_datetime_format=True)
misery_csv = misery_csv.drop(columns = ["Unemployment Rate", "Inflation Rate"])
misery_csv.sort_index(ascending=False, inplace=True)
misery_csv["Date"] = pd.to_datetime(misery_csv["Date"])
misery_date = pd.Timestamp("2001-12-31")
misery_date_2 = pd.Timestamp("2019-12-31")
misery_csv = misery_csv.set_index("Date")
misery_csv = misery_csv.loc[misery_date:misery_date_2]
misery_csv

            Misery Index
Date
2001-12-31          7.25
2002-01-31          6.84
2002-02-28          6.84
2002-03-31          7.18
2002-04-30          7.54
...                  ...
2019-08-31          5.45
2019-09-30          5.21
2019-10-31          5.36
2019-11-30          5.55
2019-12-31          5.79

[215 rows x 1 columns]

TypeError: 'type' object is not subscriptable

In [18]:
type(pd.Timestamp)

type

In [ ]:
combined_df = pd.concat([hsy_csv, misery_csv], axis="columns")
combined_df

In [ ]:
#backtesting is finding the history and backtesting it to get statistical data